table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}


table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


table th {
  background-color: #333;
  color: #fff;
}


table tr:nth-child(even) {
  background-color: #f2f2f2;
}


table tr:hover {
  background-color: #e9e9e9;
}


table td {
  text-align: center;
}
